# Name: Syed Sameer Rizvi
# AICP Task week 2

In [ ]:
import pandas as pd

Q1) Write pandas series code to get following output without using dictionary:

In [28]:
index = ['a','x','c',2,'e']
data = [1, 4, 9, 6, 7]

series = pd.Series(data,index)
print(series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

Q2) Write pandas series code to get following output using dictionary

In [25]:
index = ['Bilal','Ayesha','Hadia']
data = [42,38,39]

series = pd.Series(data,index)
print(series)

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

Q3) Write pandas dataframe code to get following output using python dictionary

In [ ]:
import pandas as pd

data = {'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
        'temperature': [32, 35, 28, 24, 32, 31],
        'windspeed': [6, 7, 2, 7, 4, 2],
        'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}

df = pd.DataFrame(data)
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

Q4) In extension to above question, you are required to replace index by ['a','b','c','d','e','f']

In [ ]:
import pandas as pd

data = {'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
        'temperature': [32, 35, 28, 24, 32, 31],
        'windspeed': [6, 7, 2, 7, 4, 2],
        'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e','f'])
print(df)

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

Q5) In extension to above Q.3, calculate mean, miximum and minimum for label “temperature”

In [ ]:
import pandas as pd

data = {'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
        'temperature': [32, 35, 28, 24, 32, 31],
        'windspeed': [6, 7, 2, 7, 4, 2],
        'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e','f'])
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

Q6)  Import CSV ‘people.csv’ in the given folder. Keep in mind the following instructions:
You’re required to import only specific columns ["First Name", "Sex", "Email", “Phone”, “Job Title”]
Set the following columns ["Sex", "Job Title"] as index columns
Skip following rows [1,5]
Export the CSV as “NewPeople.csv”

In [ ]:
import pandas as pd
data = pd.read_csv('people.csv', usecols=["First Name", "Sex", "Email", "Phone", "Job Title"], skiprows=[1, 5])
data.set_index(["Sex", "Job Title"], inplace=True)
data.to_csv('NewPeople.csv')

Q7) Import excel sheet ‘SampleWork.xlsx’ in the given folder. Keep in mind the following instructions:
Import sheet 1
Import only first and last column from sheet 1
Skip row 2 while importing the sheet
Set row 2 as header
export as new sheet.

In [ ]:
import pandas as pd
data = pd.read_excel('SampleWork.xlsx', sheet_name=0, skiprows=[1])
data = data.iloc[:, [0, -1]]
header = data.iloc[0]
data = data[1:]
data.columns = header
data.to_excel('NewSheet.xlsx', index=False)

Q8)Create the following dataframe as AICP_DF then implement different operations as described below:
select 'Name', 'Qualification' coloumns and save to df1
add a new column to AICP_DF “Height” with the following values: [5.1, 6.2, 5.1, 5.2,5.1]
set column “Name” as the index column.
retrieve row with index “Hifza”
retrieve row with index 3
drop row with index “Bilal”

In [ ]:
import pandas as pd

data = {
    'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'Jazim'],
    'Age': [27, 24, 22, 32, 23],
    'Address': ['Lahore','Karachi','Sialkot','Peshawar','Lahore'],
    'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'Bsc']
}

AICP_DF = pd.DataFrame(data)
print("AICP_DF:")
print(AICP_DF)

df1 = AICP_DF[['Name', 'Qualification']]
print("\ndf1:")
print(df1)

AICP_DF['Height'] = [5.2, 6.2, 5.5, 5.7, 6.8]
print("\nHeight column:")
print(AICP_DF)

AICP_DF.set_index('Name', inplace=True)
print("\nName as index:")
print(AICP_DF)

print("\nIndex 'Hifza':")
print(AICP_DF.loc['Hifza'])

print("\nRow with index 3:")
print(AICP_DF.iloc[2])

AICP_DF.drop(index='Bilal', inplace=True)
print("\nDropping row with index 'Bilal':")
print(AICP_DF)

AICP_DF:
    Name  Age   Address Qualification
0  Sonia   27    Lahore           Msc
1  Bilal   24   Karachi            MA
2  Hifza   22   Sialkot           MCA
3  Kabir   32  Peshawar           Phd
4  Jazim   23    Lahore           Bsc

df1:
    Name Qualification
0  Sonia           Msc
1  Bilal            MA
2  Hifza           MCA
3  Kabir           Phd
4  Jazim           Bsc

Height column:
    Name  Age   Address Qualification  Height
0  Sonia   27    Lahore           Msc     5.2
1  Bilal   24   Karachi            MA     6.2
2  Hifza   22   Sialkot           MCA     5.5
3  Kabir   32  Peshawar           Phd     5.7
4  Jazim   23    Lahore           Bsc     6.8

Name as index:
       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.2
Bilal   24   Karachi            MA     6.2
Hifza   22   Sialkot           MCA     5.5
Kabir   32  Peshawar           Phd     5.7
Jazim   23    Lahore           Bsc     6.8

Index 'Hifza':
Age                   22
Address          Sialkot
Qualification        MCA
Height               5.5
Name: Hifza, dtype: object

Row with index 3:
Age                   22
Address          Sialkot
Qualification        MCA
Height               5.5
Name: Hifza, dtype: object

Dropping row with index 'Bilal':
       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.2
Hifza   22   Sialkot           MCA     5.5
Kabir   32  Peshawar           Phd     5.7
Jazim   23    Lahore           Bsc     6.8